@font-face {
    font-family: "Outfit";
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    /* paths to files use a forward slash! */
}

body {
    background-color: white;
}

* {
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.navBar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 150px;
    gap: 50px; /* Adjust spacing between elements */
}

.logo {
    width: 300px; /* Adjust size as needed */
}

.profilePic {
    width: 250px;
    height: 175px;
    border-radius: 10%;
}

.social-icons ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin: 0 20px; /* Adjust spacing between icons */
}

.social-icons a {
    font-size: 2em;
    color: #000;
    text-decoration: none;
    
}

.social-icons a:hover {
    color: #768DA8;
    
}

/******* headers ******/
.headers {
    color: black;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
}

/******* hero section ******/
.heroSec {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 2%;
    background-color: #d7eefe;
    background: linear-gradient(135deg, #d7eefe, #b8dffb);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    padding-left: 2%;
    line-height: 2;
}

.heroSec-text {
    font-size: 100%;
    color: black;
}
/* General link styles */
.a{
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  /* Hover effect for links */
  .a:hover {
    color: #fff;
    background-color: #3498db;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  /* Specific styles for resume and email links */
  .resume-link {
    font-weight: bold;
    text-decoration: none;

  }
  
  .email-link {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;

  }

  .btn {
    margin-bottom: 0.5%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}



/* Styles for smartphones (480px and below) */
@media (max-width: 480px) {
    .navBar-container {
        flex-direction: column;
        margin-right: 0;
        gap: 10px;
    }

    .logo {
        width: 150px;
    }

    .profilePic {
        width: 150px;
        height: 105px;
    }

    .social-icons li {
        margin: 0 5px;
    }

    .headers {
        font-size: 25px;
    }

    .title {
        padding-left: 0.5%;
    }
}