@font-face {
    font-family: "Outfit";
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype');
    /* paths to files use a forward slash! */
}

body {
    background-color: white;

}

* {
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #fff; /* Optional: add background color if needed */
}

.navBar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 150px;
    gap: 50px; /* Adjust spacing between elements */
}

.logo {
    width: 300px; /* Adjust size as needed */
}

.profilePic {
    width: 200px;
    height: 175px;
    border-radius: 100%;
}

.social-icons ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    margin: 0 20px; /* Adjust spacing between icons */
}

.social-icons a {
    font-size: 2em;
    color: #000;
    text-decoration: none;
}

.social-icons a:hover {
    color: #768DA8;
}

/******* headers ******/
.headers {
    color: black;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
}

/******* hero section ******/
.heroSec {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #d7eefe;
}

.title {
    padding-left: 2%;
    line-height: 2;
}

.heroSec-text {
    font-size: 100%;
    color: black;
}